#fail{
    display: none;
}
#succes{
    display: none;
}
.inactive{
    display: none;
}
#rewards{
    max-width: 100%;
    max-height: 100%;
    height: 90vh !important;
    width: 99vw;
}
#punishment{
    max-width: 100%;
    max-height: 100%;
    height: 90vh !important;
    width: 99vw;
}
#result{
    align-items: center;
    justify-content: center;
    height: 90vh;
}
img{
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    border: solid;
    width:  25vw;
    height: 30vh  !important;
    margin: 10px;
}
.img_container img:hover{
    transform: scale(1.1); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
body {
    padding-top: 50px;
}
.center-image {
    text-align: center;
}
.bottom-images {
    text-align: center;
    margin-top: 20px;
}
.main{
    height: 35vh !important;
    width: 20vw !important;
}
.img_container{
    margin-top: 10vh;
}
.statementOk{
    border:solid;
    border-radius: 10px;
    padding: 1vw;
    margin-bottom: 5vh;
    font-size: 4vh;
}
.statementKo{
    border:solid;
    border-radius: 10px;
    padding: 1vw;
    margin-bottom: 5vh;
    font-size: 4vh;
}

@media (max-width: 768px) {
    img {
        width: 25vw !important;
        height: 20vh !important;
        margin: 0 !important;
    }
    .main {
	    height: 30vh !important;
	    width: 45vw !important;
	}
	#explicacionInicial p{
		font-size: 3vh !important;
		padding:5px;
	}
	#explicacionInicial{
	    width: 85vw;
	}
	#botonAcceso{
		width: 30vw !important;
		padding: 3px !important;
	}
	.statementOk{
	    border: solid;
	    border-radius: 10px;
	    margin-bottom: 3vh;
	}
	.statementOk p{
		font-size: 1.5rem;
	}
	.statementKo{
	    border: solid;
	    border-radius: 10px;
	    margin-bottom: 3vh;
	}
	.statementKo p{
		font-size: 1.5rem;
	}
	#expFinalizado{
		width: 60vw;
	}
	#punishment img{
		width: 100% !important;
	}
	#rewards img{
		width: 100% !important;
	}
	#punishment{
		width: 100% !important;
	}
	#rewards{
		width: 100% !important;
	}
}
#expFinalizado {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: solid;
}

#textoFinal {
    display: inline-block;
}
#explicacionInicial {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: solid;
}

#botonAcceso {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    width: 8vw;
}