<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment='test_caras_ok'>
    <div th:each="question : ${testCarasQuestions}" th:id="${question.name}" class="inactive">
        <div class="center-image statementOk"></div>
        <div class="center-image">  
            <img th:src="@{/img/test_caras/mano_ok.png}" alt="Foto test" class="img-fluid main" th:attr="data-idquestion=${question.getId()}"></img>          
        </div>
        <div class="row img_container">
        	<div class="col-12">
	           	<div class="row">
		            <th:block th:each="img : ${#strings.arraySplit(question.images, '-')}">
		                <th:block th:if="${img == 'img/test_caras/mujer_asiatica.png' or img == 'img/test_caras/mujer_asiatica_gorda.png' or img == 'img/test_caras/mujer_blanca.png' or img == 'img/test_caras/mujer_negra.png'}">
		                    <div class="col-4">
		                        <img th:src="${img}" alt="Foto test" class="img-fluid" data-option='succes' data-tipoMano='OK' data-estAbstracto='NO' th:attr="data-idquestion=${question.getId()}"></img>
		                    </div>                    
		                </th:block>
		                <th:block th:unless="${img == 'img/test_caras/mujer_asiatica.png' or img == 'img/test_caras/mujer_asiatica_gorda.png' or img == 'img/test_caras/mujer_blanca.png' or img == 'img/test_caras/mujer_negra.png'}">
		                    <div class="col-4">
		                        <img th:src="${img}" alt="Foto test" class="img-fluid" data-option='fail' data-tipoMano='OK' data-estAbs='NO' th:attr="data-idquestion=${question.getId()}"></img>
		                    </div>
		                    <div class="col-4">
		                        <img th:src="@{/img/test_caras/estimulo_abstracto_caras_test.png}" alt="Foto test" class="img-fluid" data-option='fail' data-tipoMano='OK' data-estAbstracto='YES' th:attr="data-idquestion=${question.getId()}"></img>
		                    </div>
		                </th:block>         
		            </th:block>  
	            </div> 
            </div>        
        </div>
    </div>
</div>
<div th:fragment='test_caras_ko'>
    <div th:each="question : ${testCarasQuestions}" th:id="${question.name} + -KO" class="inactive">
        <div class="center-image statementKo"></div>
        <div class="center-image">
            <img th:src="@{/img/test_caras/mano_ko.png}" alt="Foto test" class="img-fluid main" th:attr="data-idquestion=${question.getId()}"></img>
        </div>
        <div class="row img_container">
	        <div class="col-12">
		        <div class="row">
		            <th:block th:each="img : ${#strings.arraySplit(question.images, '-')}">               
		                <th:block th:if="${img == 'img/test_caras/mujer_asiatica.png' or img == 'img/test_caras/mujer_asiatica_gorda.png' or img == 'img/test_caras/mujer_blanca.png' or img == 'img/test_caras/mujer_negra.png'}">
		                    <div class="col-4">    
		                        <img th:src="${img}" alt="Foto test" class="img-fluid" data-option='fail' data-tipoMano='KO' data-estAbstracto='NO' th:attr="data-idquestion=${question.getId()}"></img>
		                    </div> 
		                </th:block>
		                <th:block th:unless="${img == 'img/test_caras/mujer_asiatica.png' or img == 'img/test_caras/mujer_asiatica_gorda.png' or img == 'img/test_caras/mujer_blanca.png' or img == 'img/test_caras/mujer_negra.png'}">
		                    <div class="col-4">
		                        <img th:src="${img}" alt="Foto test" class="img-fluid" data-option='succes' data-tipoMano='KO' data-estAbstracto='NO' th:attr="data-idquestion=${question.getId()}"></img>
		                    </div>
		                    <div class="col-4">
		                        <img th:src="@{/img/test_caras/estimulo_abstracto_caras_test.png}" alt="Foto test" class="img-fluid" data-option='succes' data-estAbstracto='YES' data-tipoMano='KO' th:attr="data-idquestion=${question.getId()}"></img>
		                    </div>
		                </th:block>
		            </th:block>
            	</div>
            </div>
        </div>
    </div>
</div>