<!-- src/main/resources/templates/thymeleaf/index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header::head"> 
</head>
<body>
   <input type="hidden" id="userId" th:value="${user.id}"/>
    <div th:include="fragments/preentreno::preentreno" id='preentrenoContainer' class='container inactive'></div>
    <div th:include="fragments/test_caras::test_caras_ok" id='testCarasOkContainer' class='container inactive'></div>
    <div th:include="fragments/test_caras::test_caras_ko" id='testCarasKoContainer' class='container inactive'></div>
    <div th:include="fragments/grupoR/grupo_r::grupo_r" id='grupoR' class='container inactive'></div>
    <div th:include="fragments/grupoR/grupo_r_2::grupo_r_2" id='grupoR2' class='container inactive'></div>
    <div id='expFinalizado'>
    	<p>El experiemento ha finalizado con exito, gracias por participar!!</p>
    </div>
    <div id='result'>
        <img th:src="@{/img/punishment.png}" id='punishment' alt="punishment" class="rounded float-start"></img>
        <img th:src="@{/img/rewards.png}" id='rewards' alt="rewards" class="rounded float-start"></img>
    </div>
<div th:fragment="scripts">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{js/grupoR.js}"></script>
</div>
</body>
</html>
